body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

.chart {
    width: 75%; 
    height: 300px; 
    margin: 0 auto;
}

.index-panel {
    width: 75%;
    margin: 0 auto;
}

.form-alert-container {
    width: 300px;
}

.graph-tooltip {
    padding: 10px;
    font-size: 10pt;
}