@model InvestingApp.Models.RequestStatusMessage

<br />
<div class="container">
    @{ 
        if (Model.IsSuccess)
        {
            @:<p class="text-success">
        }
        else
        {
            @:<p class="text-danger">
        }
}
@Model.Result
</div>

<script>
    grecaptcha.reset();
    @{
        if (Model.IsSuccess)
        {
            @: document.getElementById("send_msg_btn").innerText = "Send another message";
        }
    }
</script> 