@model InvestingApp.Models.RequestStatusMessage

<br />
@{
    if (Model.IsSuccess)
    {
        @:<p class="alert alert-success form-alert-container">
    }
    else
    {
        @: <p class="alert alert-danger form-alert-container">
    }
}
@Model.Result
</p>

<script>
    grecaptcha.reset();
    @{
        if (Model.IsSuccess)
        {
            @: document.getElementById("send_msg_btn").innerText = "Send another message";
        }
    }
</script> 